.footer{
    background-color: var(--cor-de-fondo);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 2rem;
    color: var( --cor-de-acento--primario);
}